.swiper {
    .swiper-slide {
      position: relative;
      overflow: hidden;
    }
  
        .swiper-pagination-bullet {
      
          width: 20px !important; // Genişlik arttırıldı
          height: 20px !important; // Yükseklik arttırıldı
          background: rgba(255, 255, 255, 0.7);
          opacity: 0.7;
          transition: opacity 0.3s;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); // Gölge efekti
      
  
        &.swiper-pagination-bullet-active {
          opacity: 1; // Aktif sayfanın rengi
        }
      }
    }
  
 