.swiper {
    .swiper-slide {
      position: relative;
      overflow: hidden;
      cursor: grab !important;

    }
  
    .swiper-pagination {
      position: absolute !important; /* Pozisyonu mutlak olarak ayarlıyoruz */
      left: 0; /* Sol tarafa sıfır uzaklık */
      top: 50%; /* Dikey ortalama */
      width: 20px !important;
      height: auto !important;
      transform: translateY(-50%); /* Dikey olarak ortalıyoruz */
      z-index: 10; /* Diğer içeriklerin üzerinde görünmesi için z-index */
      display: flex; /* Flex ile düzenlemeleri yapabilmek için */
      flex-direction: column; /* Dikey düzenleme */
      gap: 1rem;
      align-items: flex-start; /* Bullets'ları sola hizalamak için */
    }
  
    .swiper-pagination-bullet {
      width: 20px !important; /* Genişlik arttırıldı */
      height: 20px !important; /* Yükseklik arttırıldı */
      background: rgba(255, 255, 255, 0.3); /* Arka plan rengi */
      opacity: 1; /* Şeffaflık */
      transition: opacity 0.3s; /* Geçiş efekti */
      margin: 5px 0; /* Dikey aralık vermek için */
      
      &.swiper-pagination-bullet-active {
     border: 4px solid rgb(252, 251, 250,0.6);
      }
    }
  }