.react-calendar {
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  abbr{
    text-decoration: none;
  }
  .react-calendar__navigation {
    margin-top: 2rem !important;
    display: flex;
    justify-content: space-between;

    &__label {
      font-size: 2rem;
      font-weight: bold;
      color: #000000;
      margin-top: 0.5rem;
      &:hover{
        background-color:rgb(245, 222, 179,0) !important;
      }
    }

    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button,
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      font-size: 3rem;
      color: #747474;
      &:hover,
      &:focus {
        color: #97E981;
        background-color: transparent;
      }
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    border-bottom:1px solid rgb(221, 221, 221) !important ;
    font-weight: bold;
    font-size: 1.3rem;
    color: #505050;
    padding: 1rem 0;
    margin: 1rem 0!important;
  }

  .react-calendar__tile {
    background-color: #fff;
    color: #696969;
    padding: 1.4rem 0 !important;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
      background-color: #d4ffc9;
      color: #333;
    }

    &--active {
      background-color: #97E981 !important;
      color: #000000 !important;
    }
  }

  .react-calendar__tile--now {
    background-color: #D9EAFB;
    color: #97E981;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: #A0A0A0 !important;
  }

  .highlight {
    background-color: #ffa55b !important;
    color: #000000 !important;
  }
}

