.react-calendar {
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  abbr {
    text-decoration: none;
  }

  .react-calendar__navigation {
    margin-top: 2rem !important;
    display: flex;
    justify-content: space-between;

    &__label {
      font-size: 2rem;
      font-weight: bold;
      color: #272c35;
      margin-top: 0.5rem;

      &:hover {
        background-color: rgba(245, 222, 179, 0) !important;
      }
    }

    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button,
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      font-size: 3rem;
      color: #747474;

      &:hover,
      &:focus {
        color: #d3aaaf ;
        background-color: transparent;
      }
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    border-bottom: 4px solid rgb(0, 0, 0,0.2) !important;
    font-weight: bold;
    font-size: 1.3rem;
    color: #333333;
    padding: 1rem 0;
    margin: 1rem 0 !important;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); /* X, Y, Blur, Color */

  }

  .react-calendar__tile {
    background-color: rgb(255, 255, 255,0.1);
    color: #2b2b2b;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); /* X, Y, Blur, Color */

    padding: 1.4rem 0 !important;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(228, 204, 208, 0.5) ;
      color: #333;
    }

    &--active {
      background-color: rgba(155, 124, 126, 0.7)!important;
      color: #000000 !important;
    }
  }

  .react-calendar__tile--now {
    background-color: #ffa845;
    color: #d3aaaf ;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: #ffffff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); /* X, Y, Blur, Color */

  }

  .highlight {
    background-color: rgb(222, 228, 242,0.6) !important;
    color: #000000 !important;
  }

  /* Responsive adjustments */
  @media (max-width: 1024px) {
    .react-calendar__navigation__label {
      font-size: 1.5rem; /* Smaller font size for labels */
    }

    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button,
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      font-size: 2rem; /* Smaller icons */
    }

    .react-calendar__month-view__weekdays__weekday {
      font-size: 1rem; /* Reduce font size for weekdays */
      padding: 0.5rem 0;

    }

    .react-calendar__tile {
      padding: 1rem 0 !important; /* Smaller tile padding */
      font-size: 1rem; /* Adjust font size for mobile */
    }
  }


  /* Responsive adjustments */
  @media (max-width: 768px) {
    .react-calendar__navigation__label {
      font-size: 1.5rem; /* Smaller font size for labels */
    }

    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button,
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      font-size: 2rem; /* Smaller icons */
    }

    .react-calendar__month-view__weekdays__weekday {
      font-size: 1rem; /* Reduce font size for weekdays */
      padding: 0.5rem 0;
    }

    .react-calendar__tile {
      padding: 1rem 0 !important; /* Smaller tile padding */
      font-size: 1rem; /* Adjust font size for mobile */
    }
  }

  @media (max-width: 480px) {
    .react-calendar__navigation__label {
      font-size: 1.2rem; /* Further reduce label font size */
    }

    .react-calendar__month-view__weekdays__weekday {
      font-size: 0.9rem;
    }

    .react-calendar__tile {
      padding: 0.8rem 0 !important;
      font-size: 0.9rem;
    }
  }
}
