@import "./variables";
@import './mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GothamNarrow';
    src: url('/fonts/GothamNarrow-Medium.woff2') format('woff2'),
         url('/fonts/GothamNarrow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }