.react-calendar {
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  abbr{
    text-decoration: none;
  }
  .react-calendar__navigation {
    margin-top: 2rem !important;
    display: flex;
    justify-content: space-between;

    &__label {
      font-size: 2rem;
      font-weight: bold;
      color: #1F2937;
      &:hover{
        background-color:rgb(245, 222, 179,0) !important;
      }
    }

    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button,
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      font-size: 1.6rem;
      color: #63B6CC;
      &:hover,
      &:focus {
        color: #63B6CC;
        background-color: transparent;
      }
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    font-weight: bold;
    font-size: 1.3rem;
    color: #85ABB8;
    padding: 1rem 0;
    margin-top: 1rem !important;
  }

  .react-calendar__tile {
    background-color: #fff;
    color: #696969;
    padding: 1.4rem 0 !important;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
    &:hover {
      background-color: #B7D8F6;
      color: #333;
    }

    &--active {
      background-color: #85abb8 !important;
      color: #000000 !important;
    }
  }

  .react-calendar__tile--now {
    background-color: #D9EAFB;
    color: #48879c;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: #A0A0A0 !important;
  }

  .highlight {
    background-color: #48879c !important;
    color: #fff !important;
  }
}

